{% extends "helper/base.html" %}

{% block title %}Lista klientów{% endblock %}

{% block content %}
{% if client_list %}
    <table>
        <th>Imię i nazwisko/Nazwa firmy</th>
        <th>Adres</th>
        <th>Telefon</th>
        {%for client in client_list %}
        <tr>
            <td><a href="{% url 'helper:client_details' client.id %}">{{ client.name }}</a></td>
            <td>{{ client.address }}</td>
            <td>{{ client.phone_number }}</td>
        </tr>
        {% endfor %}
{% else %}
    <p>Brak klientów.</p>
{% endif %}
{% endblock %}