{%extends "helper/base.html" %}

{% block title %}Klient {{client.name}} - szczegóły{% endblock %}

{% block content %}
<h1>Klient {{ client.name }}</h1>
<table class="table table-striped">
    <tr>
        <td>Imię i nazwisko / nazwa firmy</td>
        <td>{{ client.name }}</td>
    </tr>
    <tr>
        <td>Pesel/Regon</td>
        <td>{{ client.pesel_or_regon }}</td>
    </tr>
    <tr>
        <td>Adres</td>
        <td>{{ client.address }}</td>
    </tr>
    <tr>
        <td>Telefon</td>
        <td>{{ client.phone_number }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ client.email }}</td>
    </tr>
</table>
<br>
<h2>Lista polis klienta:</h2><br>
<table class="table table-striped">
    <th>Numer polisy:</th>
    <th>Data zakończenia:</th>
{% for item in view.all_his_policies %}
<tr>
    <td><a href="{{item.get_absolute_url}}">{{item.number}}</a></td>
    <td>{{item.date_end}}</td>
</tr>
{% endfor %}
</table>
<br>
<a href="{% url 'helper:client_edit' client.id %}" class="btn btn-primary">Edytuj klienta</a>
<a href="{% url 'helper:client_delete' client.id %}" class="btn btn-danger">Usuń klienta</a>
{% endblock %}