{% extends "helper/base.html" %}

{% block title %}Polisa nr {{ policy.number }} - szczegóły{% endblock %}
{% block content %}
<h1>Polisa numer {{ policy.number }}</h1>
<table>
    <tr>
        <td>Numer polisy</td>
        <td>{{ policy.number }}</td>
    </tr>
    <tr>
        <td>Marka</td>
        <td>{{ policy.vehicle.make }}</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>{{ policy.vehicle.model }}</td>
    </tr>
    <tr>
        <td>Numer rejestracyjny</td>
        <td>{{ policy.vehicle.reg_number }}</td>
    </tr>
    <tr>
        <td>Właściciel</td>
        <td>{{ policy.vehicle.owner.name }}</td>
    </tr>
    <tr>
        <td>Data rozpoczęcia</td>
        <td>{{ policy.date_start }}</td>
    </tr>
    <tr>
        <td>Data zakończenia</td>
        <td>{{ policy.date_end }}</td>
    </tr>
    <tr>
        <td>Data wystawienia</td>
        <td>{{ policy.date_issued }}</td>
    </tr>
    <tr>
        <td>TU</td>
        <td>{{ policy.insurer }}</td>
    </tr>
    <tr>
        <td>Składka</td>
        <td>{{ policy.premium }}</td>
    </tr>
    <tr>
        <td>Skan 1</td>
        <td>{% if policy.scan1 %}<a href="{{policy.scan1.file}}"><img src="{{policy.scan1.file}}" height="100" width="50"/></a>{% endif %}</td>
    </tr>
    <tr>
        <td>Skan 2</td>
        <td>{% if policy.scan2 %}<a href="{{policy.scan2.file}}"><img src="{{policy.scan2.file}}" height="100" width="50"/></a>{% endif %}</td>
    </tr>
    <tr>
        <td>Skan 3</td>
        <td>{% if policy.scan3 %}<a href="{{policy.scan3.file}}"><img src="{{policy.scan3.file}}" height="100" width="50"/></a>{% endif %}</td>
    </tr>

</table>
<br>
<a href="{% url 'helper:edit' policy.id %}">Edytuj polisę</a>
<a href="{% url 'helper:delete' policy.id %}">Usuń polisę</a>
{% endblock %}
    