{% extends "helper/base.html" %}
{% load helper_extras %}

{% block title %}Polisa nr {{ policy.number }} - szczegóły{% endblock %}
{% block content %}
<h1>Polisa numer {{ policy.number }}</h1>
<table class="table table-striped">
    <tr>
        <td>Numer polisy</td>
        <td>{{ policy.number }}</td>
    </tr>
    <tr>
        <td>Agent zawierający</td>
        <td>{{ policy.agent.username }}</td>
    </tr>
    <tr>
        <td>Ubezpieczający</td>
        <td><a href="{% url 'helper:client_details' policy.client.id %}">{{ policy.client }}</a></td>
    </tr>
    {% if policy.vehicle %}
    <tr>
        <td>Marka</td>
        <td>{{ policy.vehicle.make }}</td>
    </tr>
    <tr>
        <td>Model</td>
        <td>{{ policy.vehicle.model }}</td>
    </tr>
    <tr>
        <td>Numer rejestracyjny</td>
        <td><a href="{% url 'helper:vehicle_details' policy.vehicle.id %}">{{ policy.vehicle.reg_number }}</a></td>
    </tr>
    <tr>
        <td>Właściciel</td>
        <td><a href="{% url 'helper:client_details' policy.vehicle.owner.id %}">{{ policy.vehicle.owner.name }}</a></td>
    </tr>
    {% else %}
    <tr>
        <td>Przedmiot ubezpieczenia</td>
        <td>{{ policy.property }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Zakres</td>
        <td>OC -{{ policy.isTPL|checkboxize }}<br>
            NNW - {{ policy.isNNW|checkboxize }}<br>
            Assistance - {{policy.isAssistance|checkboxize }}<br>
            AC - {{policy.isCasco|checkboxize }}<br>
            Stałe elementy - {{policy.isBuilding|checkboxize }}<br>
            Ruchomości - {{policy.isMovables|checkboxize }}<br>
            Elektronika - {{policy.isElectronics|checkboxize }}<br>
            All Risk - {{policy.isAllRisk|checkboxize }}<br>
        </td>
    </tr>
    <tr>
        <td>Data rozpoczęcia</td>
        <td>{{ policy.date_start }}</td>
    </tr>
    <tr>
        <td>Data zakończenia</td>
        <td>{{ policy.date_end }}</td>
    </tr>
    <tr>
        <td>Data wystawienia</td>
        <td>{{ policy.date_issued }}</td>
    </tr>
    <tr>
        <td>TU</td>
        <td>{{ policy.insurer }}</td>
    </tr>
    <tr>
        <td>Składka</td>
        <td>{{ policy.premium }}</td>
    </tr>
    <tr>
        <td>Skan 1</td>
	<td>{% if policy.scan1 %}<a href="{{ MEDIA_URL }}{{ policy.scan1.name }}"><img style="max-width: 100px; height: auto;" src="{{ MEDIA_URL }}{{policy.scan1.name }}"/></a>{% endif %}</td>
    </tr>
    <tr>
        <td>Skan 2</td>
	<td>{% if policy.scan2 %}<a href="{{ MEDIA_URL }}{{policy.scan2.name}}"><img style="max-width: 100px; height: auto;" src="{{ MEDIA_URL }}{{policy.scan2.name}}"/></a>{% endif %}</td>
    </tr>
    <tr>
        <td>Skan 3</td>
	<td>{% if policy.scan3 %}<a href="{{ MEDIA_URL }}{{policy.scan3.name}}"><img style="max-width: 100px; height: auto;" src="{{ MEDIA_URL }}{{policy.scan3.name}}"/></a>{% endif %}</td>
    </tr>
    <tr>
        <td>Skan 4</td>
        <td>{% if policy.scan4 %}<a href="{{ MEDIA_URL }}{{policy.scan4.name}}"><img style="max-width: 100px; height: auto;" src="{{ MEDIA_URL }}{{policy.scan4.name}}"/></a>{% endif %}</td>
    </tr>
    <tr>
        <td>Skan 5</td>
        <td>{% if policy.scan5 %}<a href="{{ MEDIA_URL }}{{policy.scan5.name}}"><img style="max-width: 100px; height: auto;" src="{{ MEDIA_URL }}{{policy.scan5.name}}"/></a>{% endif %}</td>
    </tr>
</table>
<br>
<a href="{% url 'helper:edit' policy.id %}" class="btn btn-primary">Edytuj polisę</a>
<a href="{% url 'helper:delete' policy.id %}" class="btn btn-danger">Usuń polisę</a>
{% endblock %}
    
