{% extends "helper/base.html" %}
{% load static %}
{% block title %}Lista polis{% endblock %}



{% block content %}

<a href="{% url 'helper:create' %}" class="btn btn-block btn-success">Dodaj polisę</a>

<div class="bg-light border rounded border-light">
<h2 class="mt-2 mb-2">Ostatnio wystawione</h2>
<a class="btn btn-primary mb-2" href="#" onclick="update('all_')">Wszystkie polisy</a>
<a class="btn btn-primary mb-2" href="#" onclick="update()">Moje polisy</a>
<br>
<label for="from">Od:</label>
<input type="text" id="from" name="from">
<label for="to">do:</label>
<input type="text" id="to" name="to">
<br>

<div id=results></div>
</div>
{% endblock %}

{% block scripts%}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-html5-1.5.2/b-print-1.5.2/r-2.2.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-html5-1.5.2/b-print-1.5.2/r-2.2.2/datatables.min.js"></script>

<script src="{% static 'helper/js/ajax.js' %}"></script>
<script src="{% static 'helper/js/datepicker_setup.js' %}"></script>

{% endblock %}
