{% extends "helper/base.html" %}

{% block title %}Lista polis{% endblock %}

{% block scripts%}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
  <script>
    function update() {
      var date1 = document.getElementById("from").value;
      var date2 = document.getElementById("to").value;
        $('#results').load("policies/"+date1+"&"+date2+" #result");

        // it's important to return false from the click
        // cancel the default action
        // execute the AJAX request
        return false;
    }
  $( function() {
    $.datepicker.setDefaults($.datepicker.regional['pl']);
      from = $( "#from" )
        .datepicker({
          dateFormat: "yy-mm-dd",
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          defaultDate: new Date(),
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
          update();
        }),
      to = $( "#to" ).datepicker({
        dateFormat: "yy-mm-dd",
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
        update();
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
    from.datepicker('setDate', new Date().getTime() - (14 * 24 * 60 * 60 * 1000));
    to.datepicker('setDate', new Date());
  } );
  </script>
{% endblock %}

{% block content %}
<h2>Ostatnio wystawione</h2>
<br>
<label for="from">Od:</label>
<input type="text" id="from" name="from">
<label for="to">do:</label>
<input type="text" id="to" name="to">
<br>

<div id=results></div>
{% endblock %}