{% extends "helper/base.html" %}

{% block title %}Lista towarzystw{% endblock %}

{% block content %}

<a href="{% url 'helper:insurer_add' %}" class="btn btn-block btn-success">Dodaj towarzystwo</a>

<div class="bg-light border rounded border-light">
    <h2 class="mt-2">Lista towarzystw</h2>
{% if insurer_list %}
    <table class="table table-striped">
        <th>Nazwa towarzystwa</th>
        {%for insurer in insurer_list %}
        <tr>
            <td>{{ insurer.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Brak towarzystw.</p>
{% endif %}
</div>
{% endblock %}