{% extends "helper/base.html" %}

{% block content %}
<div id=result>
{% if policy_list %}
        <table>
            <th>Numer polisy</th>
            <th>Klient</th>
            <th>Pojazd</th>
            <th>Składka</th>
            <th>Polisa od</th>
            <th>Polisa do</th>
        {%for policy in policy_list %}
        <tr>
            <td><a href="{% url 'helper:details' policy.id %}">{{ policy.number }}</a></li></td>
            <td>{{ policy.client }}</td>
            <td>{{ policy.vehicle }}</td>
            <td>{{ policy.premium }}</td>
            <td>{{ policy.date_start }}</td>
            <td>{{ policy.date_end }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Brak polis we wskazanym okresie.</p>
{% endif %}
</div>
{% endblock %}