{% extends "helper/base.html" %}
{% load helper_extras %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Dodaj/edytuj polisę{{ policy.number }}{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
<script>
    $.datepicker.setDefaults($.datepicker.regional['pl']);
    $(function() {
        $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
      
      
        });
</script>
<script src="../../static/helper/js/hide_fields.js"></script>
<script src="../../static/helper/js/populate_fields_policy.js"></script>
<script>document.addEventListener('DOMContentLoaded', setup());</script>
{% endblock %}

{% block content %}
<div class="container">
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{form|crispy}}
    <input type="submit" class="btn btn-primary" value="Zapisz" />
    
    {{ form.media }}
</form>
</div>
{% endblock %}

