{% extends "helper/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Dodaj/edytuj pojazd{{ vehicle.reg_number }}{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
<script>
    $.datepicker.setDefaults($.datepicker.regional['pl']);
    $(function() {
        $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
      
      
        });
</script>
<script src="../../static/helper/js/populate_fields_vehicle.js"></script>
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="container">
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Zapisz" />
    </div>
    {{ form.media }}
</form>
{% endblock %}