{% extends "helper/base.html" %}

{% block title %}Lista pojazdów{% endblock %}

{% block content %}
{% if vehicle_list %}
    <table class="table table-striped">
        <th>Numer rejestracyjny</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Właściciel</th>
        {%for vehicle in vehicle_list %}
            <tr>
            <td><a href="{% url 'helper:vehicle_details' vehicle.id %}">{{ vehicle.reg_number }}</a></td>
            <td>{{ vehicle.make }}</td>
            <td>{{ vehicle.model }}</td>
            <td>{{ vehicle.owner }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Brak pojazdów.</p>
{% endif %}
{% endblock %}