{% extends 'helper/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <form method="get" action=".">
        <div class="container mt-2">
            <h2>Wyszukiwanie</h2>
            {{ form|crispy }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" class="btn btn-primary" value="Szukaj">
                </td>
            </tr>
            

        {% if query %}
            <h3 class="mt-5">Wynik wyszukiwania</h3>

            {% for result in page_obj.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                </p>
            {% empty %}
                <p>Brak wyników.</p>
            {% endfor %}

            {% if page_obj.has_previous or page_obj.has_next %}
                <div>
                    {% if page_obj.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
                    |
                    {% if page_obj.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
</div>
{% endblock %}